nav{
    display: inline;
}
button{
    padding: 10px 15px;
    
    background-color: white;
    border-radius: 7px;
}

section{
    background-color: black;
    
    margin: 0% auto;
    color:white;
    text-align: center;
}

h1 {
    font-size: 60px;
  }
 
.offers{
    background-color: black;
    
    color:white;
    padding:15px 30px;
}

.courses{
    background-color:   orangered;
    
    color:white;
    padding:15px 30px;
}

hr{
    width:66%
}

article{
    background-color: white;
}

.bootcamp{
    margin-left: auto; 
    margin-right: auto;
    
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course{
    margin-left: auto; 
    margin-right: auto;
    
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    background-color: black;
}

.foot1{
    background-color: orangered;
}
.foot2{
    background-color: 	#232b2b;
    color: white;
    text-align: cenetr;
}

.boot{
    margin-left: auto; 
    margin-right: auto;
    vertical-align: top;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4{
    color:blue;
}
